$primary-color: #ff6666;
$secondary-color: #6666ff;
$black: #000;
$white: #fff;

$danger: #ff0000;

$border-radius: 5px;

@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css';
@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';

@import 'forms';

html, body {
  height: 100%;
}

.text-light {
	color: $white;
}

body {
  .background {
    min-height: 100%;
    background-size: cover;
    background-position: 50% 50%;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		
		&.homepage {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

    nav {
			background-color: rgba($black, .6);
			position: absolute;
			top: 0;
			width: 100%;
    }
    
    main {
      background-color: rgba($black, .6);
			color: $white;
			margin-top: 71px;

			.gfield_radio {
				text-align: center;
				li {
					input {
						display: none !important;
						&:checked {
							&+label {
								background-color: $primary-color;
								font-weight: normal !important;
							}
						}
					}

					label {
						min-width: 50px;
						background-color: $secondary-color;
						padding: .5rem .75rem;
						max-width: 100%;
						border-radius: $border-radius;
						margin: 0 1rem;

						&:hover {
							background-color: lighten($secondary-color, 5%);
						}
					}
				}
			}
    }
  }

  footer {
    font-size: .75rem;
    a {
      color: rgba($black, .7);

      &:hover {
        color: rgba($black, 1);
      }
    }

    .social {
      font-size: 1.5rem;
		}
		
		.disclaimer	{
			margin-bottom: 1rem;
			.col {
				.box {
					display: inline-block;
					border: 1px solid $black;
					padding: .5rem 1rem;
				}
			}
		}

		.c4 {
			
		}
  }
}