$primary-color: #ff6666;
$secondary-color: #6666ff;
$black: #000;
$white: #fff;

@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css';
@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';

html, body {
  height: 100%;
}

body {
  .background {
    min-height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    nav {
      background-color: rgba($black, .6);
    }
    
    main {
      background-color: rgba($black, .6);
      color: $white;
    }
  }

  footer {
    
    a {
      color: rgba($black, .7);

      &:hover {
        color: rgba($black, 1);
      }
    }

    .social {
      font-size: 1.5rem;
    }
  }
}